.button{
    -fx-font-weight: bold;
    -fx-font-size:20px;
}

.button:hover{
    -fx-cursor:hand;
    -fx-brightness:1.2;
    -fx-text-fill:rgb(214, 133, 157);
}

.button:pressed{
    -fx-brightness:0.90;
    -fx-text-fill:rgb(49, 153, 212);
}

.button:focused{
    -fx-background-color: derive(-fx-base, -10%);
}